.info{
    background: #8B0000;
}

.body { 
    font-family: 'Tangerine', cursive;
} 

.primary-color{
    color: #FFFAF0;
}

.info a { 
    transition: color 2s ease-in-out;
} 
.info a:hover{ 
    color: #242424;
}